* {
    padding: 0;
    margin: 0;
}

button {
    padding: 3px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    display: flex;
    justify-content: center;
}

.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    width: 100vw;
}

.modal-content {
    background-color: lightgrey;
    padding: 30px;
    border: solid 1px black;
    position: relative;
    margin: 15px;
}

.create {
    position: absolute;
    top: 20vh;
    padding: 10px;
    font-size: 22px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    font-size: 10px;
}

TABLE {
    border-collapse: collapse;
}

TH, TD {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
}

TH {
    height: 40px;
    padding: 0;
}

#finish-delete-few-rows {
    display: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    border: solid 1px black;
    padding: 15px;
}

#money, #price, #name, #surname, #email, #deleteRrow {
    height: 20px;
    padding-left: 10px;
}

.div-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px;

}

#rest-result {
    width: 100%;
    text-align: center;
    margin: 15px;
    font-size: 26px;

}


#window {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#div-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px black;
    padding: 30px;
    margin: 30px;
}

.delete-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.btn-del {
    margin-bottom: 15px;

}
